<form>
  <div class="form-group">
    <label for="question">Enter your question:</label>
    {{input class="form-control" value=question id="question"}}
  </div>
  <div class="form-group">
    <label for="author">Your name:</label>
    {{input class="form-control" value=author id="author"}}
  </div>
  <div class="form-group">
    <label for="details">Add additional details here:</label>
    {{input class="form-control" value=details id="details"}}
  </div>
  <button class="btn btn-lg btn-block" {{action 'saveQuestion'}}>Submit</button>
</form>
