<div id="header">
  <h1>Ember Question and Answer Message Board</h1>
  <div class="nav">
    <ul>
      <li class="index">Home</li>
      <li class="question">Question Submission</li>
      <li class="info">Information</li>
    </ul>
  </div>
</div>
<div id="body">

</div>
<div id="footer">
  <h4>Copyright © 2016 Rebecca Allen</h4>
</div>
