<h2>Welcome to the Ember Message Board!</h2>

<div class="row">
  {{#link-to 'new-question'}}<button class="col-sm-4 add-question-box">Post a Question</button>{{/link-to}}
  {{#each model.questions as |question|}}
    {{question-list question=question}}
  {{/each}}
</div>
